source "$IDF_PATH/components/bootloader/Kconfig.projbuild"
source "$IDF_PATH/components/efuse/test_apps/main/Kconfig.projbuild"
source "$IDF_PATH/components/esp_app_format/Kconfig.projbuild"
source "$IDF_PATH/components/esp_eth/test_apps/main/Kconfig.projbuild"
source "$IDF_PATH/components/esp_rom/Kconfig.projbuild"
source "$IDF_PATH/components/esptool_py/Kconfig.projbuild"
source "$IDF_PATH/components/mqtt/test_apps/test_mqtt/main/Kconfig.projbuild"
source "$IDF_PATH/components/mqtt/test_apps/test_mqtt5/main/Kconfig.projbuild"
source "$IDF_PATH/components/partition_table/Kconfig.projbuild"