source "$IDF_PATH/components/app_trace/Kconfig"
source "$IDF_PATH/components/bt/Kconfig"
source "$IDF_PATH/components/driver/Kconfig"
source "$IDF_PATH/components/efuse/Kconfig"
source "$IDF_PATH/components/esp-tls/Kconfig"
source "$IDF_PATH/components/esp_adc/Kconfig"
source "$IDF_PATH/components/esp_coex/Kconfig"
source "$IDF_PATH/components/esp_common/Kconfig"
source "$IDF_PATH/components/esp_eth/Kconfig"
source "$IDF_PATH/components/esp_event/Kconfig"
source "$IDF_PATH/components/esp_gdbstub/Kconfig"
source "$IDF_PATH/components/esp_http_client/Kconfig"
source "$IDF_PATH/components/esp_http_server/Kconfig"
source "$IDF_PATH/components/esp_https_ota/Kconfig"
source "$IDF_PATH/components/esp_https_server/Kconfig"
source "$IDF_PATH/components/esp_hw_support/Kconfig"
source "$IDF_PATH/components/esp_lcd/Kconfig"
source "$IDF_PATH/components/esp_netif/Kconfig"
source "$IDF_PATH/components/esp_partition/Kconfig"
source "$IDF_PATH/components/esp_phy/Kconfig"
source "$IDF_PATH/components/esp_pm/Kconfig"
source "$IDF_PATH/components/esp_psram/Kconfig"
source "$IDF_PATH/components/esp_ringbuf/Kconfig"
source "$IDF_PATH/components/esp_system/Kconfig"
source "$IDF_PATH/components/esp_timer/Kconfig"
source "$IDF_PATH/components/esp_wifi/Kconfig"
source "$IDF_PATH/components/espcoredump/Kconfig"
source "$IDF_PATH/components/fatfs/Kconfig"
source "$IDF_PATH/components/freertos/Kconfig"
source "$IDF_PATH/components/hal/Kconfig"
source "$IDF_PATH/components/heap/Kconfig"
source "$IDF_PATH/components/ieee802154/Kconfig"
source "$IDF_PATH/components/log/Kconfig"
source "$IDF_PATH/components/lwip/Kconfig"
source "$IDF_PATH/components/mbedtls/Kconfig"
source "$IDF_PATH/components/mqtt/esp-mqtt/Kconfig"
source "$IDF_PATH/components/mqtt/esp-mqtt/host_test/main/Kconfig"
source "$IDF_PATH/components/newlib/Kconfig"
source "$IDF_PATH/components/nvs_flash/Kconfig"
source "$IDF_PATH/components/openthread/Kconfig"
source "$IDF_PATH/components/protocomm/Kconfig"
source "$IDF_PATH/components/pthread/Kconfig"
source "$IDF_PATH/components/soc/Kconfig"
source "$IDF_PATH/components/spi_flash/Kconfig"
source "$IDF_PATH/components/spiffs/Kconfig"
source "$IDF_PATH/components/tcp_transport/Kconfig"
source "$IDF_PATH/components/ulp/Kconfig"
source "$IDF_PATH/components/unity/Kconfig"
source "$IDF_PATH/components/usb/Kconfig"
source "$IDF_PATH/components/vfs/Kconfig"
source "$IDF_PATH/components/wear_levelling/Kconfig"
source "$IDF_PATH/components/wifi_provisioning/Kconfig"